body {
    font-family: Arial, sans-serif;
}
h2 {
    color: #0c36f1;
}
h3 {
    color: #0011fc;
}
ul {
    list-style-type: none;
}
ul li {
    margin-bottom: 10px;
}
ul li ul li {
    margin-left: 20px;
    margin-bottom: 5px;
}
p h5 {
    color: #000000;
}

textarea {
    width: 50%;
    height: 81px;
    font-family: 'Courier New', monospace;
    resize: vertical;
}