body {
    font-family: Arial, sans-serif;
}
h2 {
    color: #0c36f1;
}
h3 {
    color: #0011fc;
}
ul {
    list-style-type: none;
}
ul li {
    margin-bottom: 10px;
}
ul li ul li {
    margin-left: 20px;
    margin-bottom: 5px;
}
p h5 {
    color: #000000;
}

textarea {
    width: 50%;
    height: 81px;
    font-family: 'Courier New', monospace;
    resize: vertical;
}
.collapsed {
    display: none;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    overflow: hidden;
    display: flex; /* Faz o <ul> um contêiner flexível */
    justify-content: space-around; /* Distribui o espaço ao redor dos itens */
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
   
}

